<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="404.css" />
    <title>404 - Page Not Found</title>
  </head>
  <body>
    <div class="bg-shape"></div>
    <div class="bg-shape2"></div>
    <div class="container">
      <h1>404</h1>
      <h2>Oops!</h2>
      <p>Short Code is already exists. Please Choose Another</p>
      <a href="/">Go Back Home</a>
    </div>
  </body>
</html>
